<h1>Nightlife</h1>

<form method="post">

<label><b>Username</b></label>
<input type="text" placeholder="Enter Username" name="username" required>

<label><b>Email</b></label>
<input type="text" placeholder="Enter Email Address" name="email" required>

<label><b>Password</b></label>
<input type="password" placeholder="Enter Password" name="password" required>

<label><b>Password</b></label>
<input type="password" placeholder="Confirm Password" name="passwordConf" required>

<button type="submit">Sign Up</button>
<label>
<input type="checkbox" checked="checked"> Remember me
</label>
</form>
